In [1]:
# Libraries and dependencies
import pandas as pd
import os

In [2]:
# Opening the csv files

# Saving a list for all files in the directory
files = [f for f in os.listdir("./resources/historical") if f.endswith('.csv')]

# Creating the filepath list
filespath = []
for f in files:
    filespath.append(os.path.join ('resources', 'historical', f))

# Creating the raw dataframe
csv_files = []
for file in filespath:
    csv_files.append(pd.read_csv(file, index_col = None, header = 0))

trip_df = pd.concat(csv_files, axis=0, ignore_index=True)

trip_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,...,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,2333.0,2020-07-01 00:23:19.8220,2020-07-01 01:02:13.2980,3694.0,Jackson Square,40.711130,-74.078900,3276.0,Marin Light Rail,40.714584,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1203.0,2020-07-01 00:27:45.2420,2020-07-01 00:47:49.1960,3791.0,Hoboken Ave at Monmouth St,40.735208,-74.046964,3202.0,Newport PATH,40.727224,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,786.0,2020-07-01 00:34:17.8680,2020-07-01 00:47:24.6310,3792.0,Columbus Dr at Exchange Pl,40.716870,-74.032810,3225.0,Baldwin at Montgomery,40.723659,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1488.0,2020-07-01 00:51:07.5310,2020-07-01 01:15:56.0200,3677.0,Glenwood Ave,40.727551,-74.071061,3194.0,McGinley Square,40.725340,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2682.0,2020-07-01 00:51:16.3880,2020-07-01 01:35:58.4590,3191.0,Union St,40.718211,-74.083639,3193.0,Lincoln Park,40.724605,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
372703,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2021-06-23 18:33:23,Newport PATH,JC066,Hamilton Park,JC009,40.727224,-74.033759,40.727596,-74.044247,member
372704,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2021-06-15 19:14:37,Newport PATH,JC066,Grove St PATH,JC005,40.727223,-74.033758,40.719586,-74.043117,member
372705,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2021-06-22 17:52:36,Montgomery St,JC099,Hamilton Park,JC009,40.719420,-74.050990,40.727596,-74.044247,member
372706,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2021-06-07 14:55:29,Montgomery St,JC099,Grove St PATH,JC005,40.719420,-74.050990,40.719586,-74.043117,member
372707,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2021-06-30 07:51:39,Montgomery St,JC099,Grove St PATH,JC005,40.719420,-74.050990,40.719586,-74.043117,member

In [3]:
# Cleaning the dataframe, mostly because of the column name changes, will keep the column names consistent
# with the most current file
# Column list:
# ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,
# start_lat,start_lng,end_lat,end_lng,member_casual

clean_trip_df = trip_df

# Merging columns
clean_trip_df['started_at']=trip_df['started_at'].combine_first(trip_df['starttime'])
clean_trip_df['ended_at']=trip_df['ended_at'].combine_first(trip_df['stoptime'])
clean_trip_df['start_station_name']=trip_df['start_station_name'].combine_first(trip_df['start station name'])
clean_trip_df['end_station_name']=trip_df['end_station_name'].combine_first(trip_df['end station name'])
clean_trip_df['start_station_id']=trip_df['start_station_id'].combine_first(trip_df['start station id'])
clean_trip_df['end_station_name']=trip_df['end_station_name'].combine_first(trip_df['end station name'])
clean_trip_df['end_station_id']=trip_df['end_station_id'].combine_first(trip_df['end station id'])
clean_trip_df['start_lat']=trip_df['start_lat'].combine_first(trip_df['start station latitude'])
clean_trip_df['start_lng']=trip_df['start_lng'].combine_first(trip_df['start station longitude'])
clean_trip_df['end_lat']=trip_df['end_lat'].combine_first(trip_df['end station latitude'])
clean_trip_df['end_lng']=trip_df['end_lng'].combine_first(trip_df['end station longitude'])
clean_trip_df['member_casual']=trip_df['member_casual'].combine_first(trip_df['usertype'])

# Dropping the merged columns
clean_trip_df.drop(columns = ['starttime', 'stoptime', 'start station name', 'end station name',
                             'end station id', 'start station latitude', 'start station longitude',
                             'end station latitude', 'end station longitude', 'usertype',
                             'start station id'], inplace = True)

In [4]:
clean_trip_df

,tripduration,bikeid,birth year,gender,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,2333.0,42579.0,1969.0,0.0,NaN,NaN,2020-07-01 00:23:19.8220,2020-07-01 01:02:13.2980,Jackson Square,3694,Marin Light Rail,3276,40.711130,-74.078900,40.714584,-74.042817,Customer
1,1203.0,42564.0,1965.0,1.0,NaN,NaN,2020-07-01 00:27:45.2420,2020-07-01 00:47:49.1960,Hoboken Ave at Monmouth St,3791,Newport PATH,3202,40.735208,-74.046964,40.727224,-74.033759,Subscriber
2,786.0,42219.0,1994.0,1.0,NaN,NaN,2020-07-01 00:34:17.8680,2020-07-01 00:47:24.6310,Columbus Dr at Exchange Pl,3792,Baldwin at Montgomery,3225,40.716870,-74.032810,40.723659,-74.064194,Subscriber
3,1488.0,44424.0,1995.0,2.0,NaN,NaN,2020-07-01 00:51:07.5310,2020-07-01 01:15:56.0200,Glenwood Ave,3677,McGinley Square,3194,40.727551,-74.071061,40.725340,-74.067622,Subscriber
4,2682.0,42186.0,1993.0,1.0,NaN,NaN,2020-07-01 00:51:16.3880,2020-07-01 01:35:58.4590,Union St,3191,Lincoln Park,3193,40.718211,-74.083639,40.724605,-74.078406,Subscriber
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
372703,NaN,NaN,NaN,NaN,8DA32148B9DC1B15,classic_bike,2021-06-23 18:27:20,2021-06-23 18:33:23,Newport PATH,JC066,Hamilton Park,JC009,40.727224,-74.033759,40.727596,-74.044247,member
372704,NaN,NaN,NaN,NaN,E209A4E2ACA17FA2,docked_bike,2021-06-15 19:05:53,2021-06-15 19:14:37,Newport PATH,JC066,Grove St PATH,JC005,40.727223,-74.033758,40.719586,-74.043117,member
372705,NaN,NaN,NaN,NaN,A26E32E2F99755D8,classic_bike,2021-06-22 17:44:23,2021-06-22 17:52:36,Montgomery St,JC099,Hamilton Park,JC009,40.719420,-74.050990,40.727596,-74.044247,member
372706,NaN,NaN,NaN,NaN,D86BB03B2C61CB61,docked_bike,2021-06-07 14:48:34,2021-06-07 14:55:29,Montgomery St,JC099,Grove St PATH,JC005,40.719420,-74.050990,40.719586,-74.043117,member
372707,NaN,NaN,NaN,NaN,7BACA2F29D40FE7B,classic_bike,2021-06-30 07:47:49,2021-06-30 07:51:39,Montgomery St,JC099,Grove St PATH,JC005,40.719420,-74.050990,40.719586,-74.043117,member

In [5]:
clean_trip_df.columns

Index(['tripduration', 'bikeid', 'birth year', 'gender', 'ride_id',
       'rideable_type', 'started_at', 'ended_at', 'start_station_name',
       'start_station_id', 'end_station_name', 'end_station_id', 'start_lat',
       'start_lng', 'end_lat', 'end_lng', 'member_casual'],
      dtype='object')

In [ ]:
clean_trip_df